<form method="post" name="form" action="forum.php">
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="forum_title" width="30">&nbsp;</td>
	<td class="forum_title" width="30">&nbsp;</td>
    <td class="forum_title">%topic%:</td>
    <td class="forum_title" width="13%" align="center">%author%:</td>
    <td class="forum_title" width="5%" align="center">%replies%:</td>
    <td class="forum_title" width="5%" align="center">%views%:</td>
	<td class="forum_title" width="20%" align="center">%lastpost%:</td>
  </tr>

