<br />
<div align="center"><table width="700" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td><img src="images/icons/foldericons/newfolder.png" alt="%new_posts%" /> <small>%new_posts%</small></td>
    <td><img src="images/icons/foldericons/newhotfolder.png" alt="%new_posts% [%popular%]" /> <small>%new_posts% [%popular%]</small></td>
    <td><img src="images/icons/foldericons/newsticky.png" alt="%sticky% %topic%" /> <small>%sticky% %topic% [%new_posts%]</small></td>
  </tr>
  <tr>
    <td><img src="images/icons/foldericons/folder.png" alt="%no_new_posts%" /> <small>%no_new_posts%</small></td>
    <td><img src="images/icons/foldericons/hotfolder.png" alt="%no_new_posts% [%popular%]" /> <small>%no_new_posts% [%popular%]</small></td>
    <td><img src="images/icons/foldericons/sticky.png" alt="%sticky% %topic%" /> <small>%sticky% %topic%</small></td>
  </tr>
  <tr>
    <td><img src="images/icons/foldericons/lockfolder.png" alt="%closed% %topic%" /> <small>%closed% %topic%</small></td>
    <td></td>
    <td></td>
  </tr>
</table></div>