<div id="tab_2">
	<div style="width: 100%" class="forum_katg_topic">
		<div class="forum_topic_stats"><span class="katg_small">&nbsp;<i>$date, $time</i> $pm $buddy $email $hp $statuspic</span>
        <div style="float: right; padding-right: 12px;">$quote $actions</div>
		</div>
	</div>
	<div style="width: 99%; background-color: #191919;" class="forum_title">
		<div style="float: left; padding-left: 8px;">%author%:</div>
    	<div style="padding-left: 115px;">%message%:</div>
	</div>
	<div style="clear: both;"></div>

	<div style="float: left; text-align: center; padding: 6px; background-color: #191919;">
    	<div class="forum_ava">$avatar</div>
    	$username $member<br />
    	<small>$usertype</small><br />
    	$rang<br />
    	<small>$posts %posts%</small><br />
    	<small>%registered%: $registered</small>
    </div>
    <div style="width: 83%;" class="forum_message">
    	$message
        <hr style="width: 100%" class="forum_hr">
		<span class="sig">$signatur</span>
    </div>
    <div style="clear: both;"></div>
</div>
<br />