<img src="images/icons/foldericons/folder.gif" width="14" height="15" alt="" style="padding-left: 10px;float:left; padding-top: 12px;" />
<div style="background-image:url('/img/ticker_box/score_bg.png'); background-repeat: no-repeat; width: 383px; height: 44px; margin-left: 2px;">
	<div style="padding-top: 6px;">
		<span style="font-family:Arial; font-size: 12px; color: #d75f24; font-weight: bold; padding-left: 12px; float: left;">$topiclink</span><br />
		<span style="font-family:Arial; font-size: 9px; color: #454545; padding-left: 12px;">$date&nbsp;($replys&nbsp;$replys_text)&nbsp;%last_post%:&nbsp;$last_poster</span>
	</div>
</div>