<div style="background-image: url('img/profile/profile_bg.png'); width: 704px; height: 434px; float: left;">	
	<div style="float: left; font-weight: bold; font-size: 24px; padding-left: 57px; padding-top: 21px; padding-right: 30px;">$firstname '$nickname' $lastname</div>
	<div style="font-size: 20px; color: #525251; padding-top: 26px;">// $squad_name</div>
	<div style="float: right; padding-top: 67px; padding-right: 87px;">$userpic</div>
	<div style="font-size: 14px; color: #727272; padding-top: 77px; padding-left: 57px;">
		<p>Wohnort: $town</p>
		<p>Herkunft: $profilecountry</p>
		<p>Alter: $birthday</p>
		<p>Aufgabe: $userdescription</p>
		<p>Geschlecht: $sex</p>
	</div>
</div>
<div style="padding-top: 20px; clear: both; padding-left: 22px;">
	<span style="color: #fb6801; font-weight: bold; padding-left: 10px;">GAMING</span>
	<div style="background-image: url('/img/squads/squads_hr.png'); background-repeat: no-repeat; width: 673px; height: 1px; padding-top: 10px;"></div>
</div>
<div style="padding-left: 23px; font-size: 14px;">
	<p>Ehem. Teams: $clanhistory</p>
	<p>Erfolge:</p>
	<p>Steam ID:</p>
</div>
<div style="padding-top: 20px; clear: both; padding-left: 22px;">
	<span style="color: #fb6801; font-weight: bold; padding-left: 10px;">HARDWARE</span>
	<div style="background-image: url('/img/squads/squads_hr.png'); background-repeat: no-repeat; width: 673px; height: 1px; padding-top: 10px;"></div>
</div>
<div style="padding-left: 23px; font-size: 14px;">
	<p>System: WIN 8</p>
	<p>CPU: Intel i5-3579</p>
	<p>RAM: 8 GB</p>
	<p>Grafikkarte: GF 660</p>
	<p>Monitor: Asus</p>
	<p>Maus: G700</p>
	<p>Mauspad: Roccat alu</p>
	<p>Headset: Razer MEGA</p>
	<p>Internet: 100.000 dsl</p>
</div>