<div style="margin-bottom: 26px; float: left;">
	<div style="float: left;">$icon</div>
	<div style="background-image: url('/img/squads/squads_vr.png'); background-repeat: no-repeat; width: 1px; height: 164px; float: left; margin-left: 23px; margin-top: 1px;">&nbsp;</div>
	<div style="float: left; padding-left: 23px;">
		$name
		<div style="background-image: url('/img/squads/squads_name_hr.png'); background-repeat: no-repeat; width: 229px; height: 1px;"></div>
		<br />
		<br />	
		$results<br />
		$awards<br />
		$challenge<br /><br />
		$details
	</div>
</div>