<div style="float: left; margin-bottom: 26px;">
	<div style="width: 146px; height: 194px; float: left; border: 0px; margin-left: 23px;">
		<a href="index.php?site=profile&amp;id=$profilid"><img src="images/userpics/$userpic" alt="Userpic" /></a>
	</div>
	<div style="background-image: url('/img/squads/squads_vr.png'); background-repeat: no-repeat; width: 1px; height: 164px; float: left; margin-left: 4px; margin-top: 15px;">&nbsp;</div>
	<div style="float: left; padding-left: 4px; font-weight: bold; color: #fff; padding-top: 30px; width: 140px; overflow: hidden;">
		<div>NAME: <span style="color: #fb6801;">$nickname</span></div><br />
		<div>ALTER: <span style="color: #fb6801;">$birthday</span></div><br /><br />
		<div>Aufgabe: <span style="color: #fb6801;">$userdescription</span></div><br />
		<div>Position: <span style="color: #fb6801;">$position</span></div>
	</div>
</div>